:root{
    --main-bg-color: #ffffff;
    --text-color: #353535;
    --add-color: #284B63;
    --add-color-two: #3C6E71;

}

::selection {
    background-color: var(--add-color);
    color: #ffffff;
}


.App{
    background-color:  var(--main-bg-color);

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
