.users button{
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--main-bg-color);
    border: 1px solid var(--add-color-two);
    border-radius: 5px;
    align-items: center;
    text-align: center;
    width: 7vw;
    cursor: pointer;
    transition-duration: 0.5s;

}
.users button:hover {
    background-color: var(--add-color-two);
    border: 1px solid var(--add-color);
    color: var(--main-bg-color);

}


.user-list{
    position: relative;
    height: 60vh;
    width: 50vw;
    overflow-y: auto;
}


